target
test_suite/amigo_exec/*
test_suite/go_exec/*
test_suite/amigo_out/*
test_suite/go_out/*
test_suite/tmp/*
default.nix
tags
/gust
/lexer
/parser
/dotfile
/dot.ps
/dot*.ps
/bin
/st
/ast
/tac
/a.out
/out.s
/test-*.st
/test-*.tac
/asm
